{% extends 'profiles/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-success">
            <h4>✅ Доступ разрешен!</h4>
            <p>Вы успешно прошли проверку LDAP и получили доступ к научному порталу.</p>
        </div>
        
        <div class="card">
            <div class="card-header bg-info text-white">
                <h3 class="mb-0">🔬 Научный исследовательский портал</h3>
            </div>
            <div class="card-body">
                <h5>Добро пожаловать в научный раздел!</h5>
                <p>Доступные разделы:</p>
                <ul>
                    <li>Исследовательские проекты</li>
                    <li>Научные публикации</li>
                    <li>Лабораторные работы</li>
                    <li>Конференции и семинары</li>
                </ul>
                
                <div class="mt-4">
                    <a href="{% url 'ldap_test_tool' %}" class="btn btn-outline-info">
                        ← Вернуться к тестированию
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}